@font-face {
  font-family: 'GeologicaLight';
  src: url('/src/assets/fonts/Geologica_Cursive-Light.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'GeologicaThin';
  src: url('/src/assets/fonts/Geologica_Cursive-Thin.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'GeologicaMedium';
  src: url('/src/assets/fonts/Geologica_Cursive-Medium.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'GeologicaRegular';
  src: url('/src/assets/fonts/Geologica_Cursive-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'GeologicaSemibold';
  src: url('/src/assets/fonts/Geologica_Cursive-SemiBold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'GeologicaBold';
  src: url('/src/assets/fonts/Geologica_Cursive-Bold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'GeologicaExtraBold';
  src: url('/src/assets/fonts/Geologica_Cursive-ExtraBold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'GeologicaBlack';
  src: url('/src/assets/fonts/Geologica_Cursive-Black.ttf') format('truetype');
  font-style: normal;
}

// -------- Rubik fontface ---------
@font-face {
  font-family: 'RubikBlack';
  src: url('/src/assets/fonts/Rubik_Black.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'RubikBold';
  src: url('/src/assets/fonts/Rubik_Bold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'RubikExtraBold';
  src: url('/src/assets/fonts/Rubik_ExtraBold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'RubikLight';
  src: url('/src/assets/fonts/Rubik_Light.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'RubikMedium';
  src: url('/src/assets/fonts/Rubik_Medium.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'RubikRegular';
  src: url('/src/assets/fonts/Rubik_Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'RubikSemiBold';
  src: url('/src/assets/fonts/Rubik_SemiBold.ttf') format('truetype');
  font-style: normal;
}
