@use './utils';
@use './colors';

.header {
  position: absolute;
  width: 100%;
  z-index: 100;

  .header-body {
    display: flex;
    justify-content: space-between;
    background-color: colors.$blue;
    @include utils.vw-convert-desktop(padding, 0px 15px);
    @include utils.vw-convert-desktop(height, 70px);

    @include utils.mobile {
      @include utils.vw-convert-mobile(padding, 20px 15px);
      // @include utils.vw-convert-mobile(height, 70px);
      background-color: transparent;
    }

    &-content {
      display: flex;
      align-items: center;
      position: relative;

      @include utils.mobile {
        width: 100%;
        justify-content: center;

        &.menu-desktop,
        &.cart {
          display: none;
        }
      }

      ul {
        list-style: none;
        display: flex;
        @include utils.vw-convert-desktop(gap, 15px);
        @include utils.vw-convert-desktop(font-size, 14px);
        color: colors.$white;
        font-weight: 600;

        p {
          display: flex;
          justify-content: center;
          align-items: center;
          @include utils.vw-convert-desktop(gap, 3px);
          cursor: pointer;

          svg {
            @include utils.vw-convert-desktop(width, 18px);
            height: auto;
          }
        }
      }
    }

    .logo {
      height: 80%;
      width: auto;

      &.dark {
        fill: colors.$bg-blue;
      }

      &.light {
        fill: colors.$white;
      }

      @include utils.mobile {
        width: 50%;
        height: auto;
      }
    }

    .mobile-menu-button {
      display: none;

      @include utils.mobile {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        aspect-ratio: 1;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
          width: 40%;
          height: 40%;

          &.light {
            color: colors.$white;
          }

          &.dark {
            color: colors.$bg-blue;
          }
        }
      }
    }
  }

  &-bar {
    display: flex;
    justify-content: space-between;
    @include utils.vw-convert-desktop(padding, 10px 15px);
    @include utils.vw-convert-desktop(font-size, 14px);
    background-color: colors.$dark-blue;

    @include utils.mobile {
      display: none;
    }

    .title {
      color: colors.$white;
      span {
        color: colors.$orange;
      }
    }
    .icons {
      display: flex;
      @include utils.vw-convert-desktop(gap, 10px);

      @include utils.mobile {
        @include utils.vw-convert-mobile(gap, 10px);
      }

      svg {
        @include utils.vw-convert-desktop(width, 20px);
        height: auto;

        @include utils.mobile {
          @include utils.vw-convert-mobile(width, 20px);
        }
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: colors.$bg-blue;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @include utils.vw-convert-mobile(padding, 20px 15px);

    .logo {
      width: 50%;
      height: auto;
    }

    .mobile-menu-button {
      display: none;

      @include utils.mobile {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        aspect-ratio: 1;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
          color: colors.$white;
          width: 40%;
          height: 40%;
        }
      }
    }
  }

  &-list {
    display: flex;
    @include utils.vw-convert-mobile(margin-top, 40px);

    justify-content: center;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      @include utils.vw-convert-mobile(gap, 20px);

      li {
        text-align: center;
        color: colors.$white;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}

.custom-prev {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 99;
  transform: translateY(-50%);
  @include utils.vw-convert-mobile(width, 15px);
  display: flex;
  justify-content: center;
  cursor: pointer;

  @include utils.mobile {
    display: none;
  }

  svg.arrow {
    width: 100%;
  }

  &.primary {
    svg.arrow {
      color: colors.$white;
    }
  }

  &.warning {
    svg.arrow {
      color: colors.$orange;
    }
  }

  svg.chevron {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: arrowMoveLeft 1.5s ease infinite;
  }

  .custom-navigate-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.custom-next {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 99;
  transform: translateY(-50%);
  @include utils.vw-convert-mobile(width, 15px);
  display: flex;
  justify-content: center;
  cursor: pointer;

  @include utils.mobile {
    display: none;
  }

  svg.arrow {
    width: 100%;
    transform: scaleX(-1);
  }

  &.primary {
    svg.arrow {
      color: colors.$white;
    }
  }

  &.warning {
    svg.arrow {
      color: colors.$orange;
    }
  }

  svg.chevron {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 1;
    animation: arrowMoveRight 1.5s ease infinite;
  }

  .custom-navigate-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

@keyframes arrowMoveRight {
  0% {
    transform: translate(50%, -50%);
    opacity: 0.7;
  }
  50% {
    transform: translate(calc(50% - 8px), -50%);
    opacity: 1;
  }
  100% {
    transform: translate(50%, -50%);
    opacity: 0.7;
  }
}

@keyframes arrowMoveLeft {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0.7;
  }
  50% {
    transform: translate(calc(-50% + 8px), -50%);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 0.7;
  }
}
