@use './utils';
@use './colors';
@use './fonts.scss';

section.section {
  height: 100vh;
  position: relative;

  @include utils.mobile {
    overflow-x: hidden;
    height: auto;
  }

  &.home-slider {
    .swiper {
      height: 100%;

      &-slide {
        display: flex;
        justify-content: center;
        align-items: center;

        .slider-content {
          width: 100%;
          height: 100%;

          @include utils.mobile {
            height: 70%;
            width: 90%;
          }

          &.light {
            .text {
              .title,
              .sub-title,
              .description {
                color: colors.$bg-blue;
              }

              .sub-title .line {
                background-color: colors.$bg-blue;
              }

              button {
                &.dark,
                &.dark-blue {
                  svg {
                    color: colors.$white;
                  }
                }
              }
            }
          }

          .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include utils.vw-convert-mobile(padding-left, 100px);

            @include utils.mobile {
              text-align: center;
              padding: 0;
            }

            .sub-title {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              @include utils.vw-convert-desktop(gap, 10px);
              @include utils.vw-convert-desktop(font-size, 20px);
              color: colors.$white;

              @include utils.mobile {
                @include utils.vw-convert-mobile(gap, 10px);
                @include utils.vw-convert-mobile(font-size, 20px);
                justify-content: center;
              }

              .line {
                @include utils.vw-convert-desktop(height, 2px);
                @include utils.vw-convert-desktop(width, 30px);
                background-color: orange;

                @include utils.mobile {
                  @include utils.vw-convert-mobile(height, 2px);
                  @include utils.vw-convert-mobile(width, 30px);
                }
              }

              .icon {
                @include utils.vw-convert-desktop(width, 50px);
                height: auto;

                @include utils.mobile {
                  @include utils.vw-convert-mobile(width, 50px);
                }
              }
            }

            .title {
              text-transform: uppercase;
              font-weight: 500;
              color: colors.$white;
              font-family: 'RubikMedium';
              @include utils.vw-convert-desktop(font-size, 135px);

              @include utils.mobile {
                @include utils.vw-convert-mobile(font-size, 100px);
              }
            }

            .description {
              @include utils.vw-convert-desktop(font-size, 18px);
              color: colors.$white;
              font-weight: 100;
              font-family: 'GeologicaLight';

              @include utils.mobile {
                display: none;
              }
            }

            .button-container {
              display: flex;
              @include utils.vw-convert-desktop(gap, 10px);
              @include utils.vw-convert-desktop(margin-top, 20px);

              @include utils.mobile {
                @include utils.vw-convert-mobile(gap, 10px);
                @include utils.vw-convert-mobile(padding-top, 30px);
                display: grid;
                grid-template-columns: 1fr;
                width: 60%;
                margin: auto;

                button {
                  @include utils.vw-convert-mobile(font-size, 25px);
                }
              }
            }
          }

          .image {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &.mobile {
              display: none;

              @include utils.mobile {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                  position: relative;
                  width: 100%;
                  height: auto;
                  transform: none;
                }
              }
            }

            @include utils.mobile {
              display: none;
            }

            img {
              // position: absolute;
              // right: 0;
              // top: 0;
              width: 100%;

              // width: 125%;
              // transform: translateX(20%);
            }

            .mobile-container {
              position: relative;
              width: 90%;
            }

            &-title {
              position: absolute;
              @include utils.vw-convert-mobile(padding, 10px 40px);
              border: 1px solid colors.$white;
              @include utils.vw-convert-mobile(border-radius, 30px);
              @include utils.vw-convert-mobile(font-size, 20px);
              background: rgba(44, 100, 191, 0.1);
              backdrop-filter: blur(10px);
              -webkit-backdrop-filter: blur(10px);
              color: colors.$white;
              animation: cloudMove 6s ease infinite;

              &:nth-child(2) {
                animation: cloudMove 4s ease infinite;
              }

              &.top {
                top: 25%;
                left: 0;
              }

              &.bottom {
                bottom: 20%;
                right: 0;
              }
            }
          }
        }
      }
    }
  }

  .background-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .mobile-about {
    display: flex;
    background-color: colors.$bg-blue;
    width: 100%;
    @include utils.vw-convert-mobile(padding, 50px 80px);

    .card {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include utils.vw-convert-mobile(padding, 30px 50px);
      @include utils.vw-convert-mobile(border-radius, 30px);

      background: linear-gradient(135deg, #2d6fa3 0%, #1e3c72 30%, #0f1f3d 100%);

      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

      .avatar {
        width: 25%;
        aspect-ratio: 1;
        border-radius: 50%;
        object-fit: cover;
      }

      .airplane {
        width: 140%;
        @include utils.vw-convert-mobile(margin-bottom, 30px);
      }

      .title {
        font-weight: 500;
        color: colors.$white;
        font-family: 'RubikMedium';
        text-align: center;
        @include utils.vw-convert-mobile(font-size, 35px);
        @include utils.vw-convert-mobile(margin-top, 30px);
      }

      .description {
        color: colors.$white;
        text-align: justify;
        @include utils.vw-convert-mobile(font-size, 30px);
        @include utils.vw-convert-mobile(margin-top, 30px);
      }
    }
  }

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include utils.vw-convert-desktop(gap, 30px);
    height: 100%;

    @include utils.mobile {
      @include utils.vw-convert-mobile(gap, 30px);
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include utils.vw-convert-desktop(gap, 10px);

      .sub-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include utils.vw-convert-desktop(gap, 10px);
        @include utils.vw-convert-desktop(font-size, 20px);
        color: colors.$white;

        @include utils.mobile {
          @include utils.vw-convert-mobile(gap, 10px);
          @include utils.vw-convert-mobile(font-size, 20px);
        }

        .line {
          @include utils.vw-convert-desktop(height, 2px);
          @include utils.vw-convert-desktop(width, 30px);
          background-color: orange;

          @include utils.mobile {
            @include utils.vw-convert-mobile(height, 2px);
            @include utils.vw-convert-mobile(width, 30px);
          }
        }
      }

      .title {
        text-transform: uppercase;
        font-weight: 500;
        color: colors.$white;
        font-family: 'RubikMedium';
        @include utils.vw-convert-desktop(font-size, 32px);

        @include utils.mobile {
          @include utils.vw-convert-mobile(font-size, 32px);
        }
      }

      .description {
        @include utils.vw-convert-desktop(font-size, 16px);
        color: colors.$white;
        font-weight: 100;
        font-family: 'GeologicaLight';
        text-align: justify;

        @include utils.mobile {
          @include utils.vw-convert-mobile(font-size, 16px);
        }
      }

      .quotes {
        display: grid;
        grid-template-columns: 1fr 2fr;
        background-color: colors.$orange;
        width: 80%;
        @include utils.vw-convert-desktop(padding, 15px 20px);
        @include utils.vw-convert-desktop(margin-top, 100px);
        @include utils.vw-convert-desktop(border-radius, 10px);

        @include utils.mobile {
          @include utils.vw-convert-mobile(padding, 15px 20px);
          @include utils.vw-convert-mobile(margin-top, 100px);
          @include utils.vw-convert-mobile(border-radius, 10px);
        }

        div {
          width: 100%;
          position: relative;

          img {
            // @include utils.vw-convert-desktop(width, 100px);
            width: 80%;
            aspect-ratio: 1;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -60%);
            object-fit: cover;
            border-radius: 50%;
          }
        }

        span {
          font-weight: bold;
          @include utils.vw-convert-desktop(font-size, 20px);

          @include utils.mobile {
            @include utils.vw-convert-mobile(font-size, 25px);
          }
        }
      }
    }

    .img-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .image {
        width: 80%;
      }
    }
  }

  &.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include utils.mobile {
      @include utils.vw-convert-mobile(padding-top, 100px);
      @include utils.vw-convert-mobile(padding-bottom, 100px);
      // background-color: colors.$bg-blue;
    }

    .menu-mobile {
      display: none;

      @include utils.mobile {
        display: flex;
        flex-direction: row;
        z-index: 1;
        width: 100%;

        &-container {
          width: 100%;
          @include utils.vw-convert-mobile(padding, 0 40px);
          display: flex;
          flex-direction: column;
          @include utils.vw-convert-mobile(gap, 50px);

          .item-container {
            .rating {
              @include utils.vw-convert-mobile(margin-top, 10px);
              display: flex;
              color: colors.$white;
              align-items: center;
              @include utils.vw-convert-mobile(gap, 10px);
              @include utils.vw-convert-mobile(font-size, 30px);
            }
            .item {
              width: 100%;
              position: relative;

              &-image {
                width: 70%;
                aspect-ratio: 3/2;
                @include utils.vw-convert-mobile(border-radius, 30px);
                overflow: hidden;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              &-info {
                position: absolute;
                height: 80%;
                aspect-ratio: 5/4;
                background-color: colors.$white;
                right: 0;
                top: 10%;
                @include utils.vw-convert-mobile(border-radius, 30px);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .name {
                  @include utils.vw-convert-mobile(font-size, 25px);
                  font-family: 'GeologicaSemibold';
                  color: colors.$blue;
                  text-transform: uppercase;
                }

                .ingredients {
                  @include utils.vw-convert-mobile(font-size, 20px);
                  font-weight: 400;
                  font-family: 'GeologicaRegular';
                  color: colors.$grey;
                  white-space: nowrap;
                  @include utils.vw-convert-mobile(width, 250px);
                  text-overflow: ellipsis;
                  overflow: hidden;
                }

                .price {
                  font-family: 'GeologicaSemibold';
                  color: colors.$blue;
                  @include utils.vw-convert-mobile(font-size, 32px);
                }

                .button {
                  width: 80%;
                }
              }
            }
          }
        }
      }
    }

    .menu-swiper-container {
      width: 70%;

      @include utils.mobile {
        width: 100%;
        display: none;

        .swiper {
          @include utils.vw-convert-mobile(padding-left, 50px);
          @include utils.vw-convert-mobile(padding-right, 20px);

          .swiper-slide {
            width: 70%;
          }
        }
      }

      .card-container {
        width: 100%;

        @include utils.mobile {
          width: 100%;
        }

        .menu-card {
          background-color: colors.$white;
          @include utils.vw-convert-desktop(border-radius, 20px);
          @include utils.vw-convert-desktop(padding, 160px 0 20px 0);
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;

          @include utils.mobile {
            @include utils.vw-convert-mobile(border-radius, 50px);
            @include utils.vw-convert-mobile(padding, 280px 0 30px 0);
          }

          img {
            width: 80%;
            position: absolute;
            top: 0;
            transform: translateY(-30%);
            aspect-ratio: 1;
            object-fit: cover;
            border-radius: 50%;
          }

          .name {
            @include utils.vw-convert-desktop(font-size, 24px);
            @include utils.vw-convert-desktop(margin-top, 40px);
            font-family: 'GeologicaSemibold';
            color: colors.$blue;

            @include utils.mobile {
              @include utils.vw-convert-mobile(font-size, 40px);
              @include utils.vw-convert-mobile(margin-top, 20px);
            }
          }

          .ingredients {
            @include utils.vw-convert-desktop(font-size, 15px);
            font-weight: 400;
            font-family: 'GeologicaRegular';
            color: colors.$grey;

            @include utils.mobile {
              @include utils.vw-convert-mobile(font-size, 25px);
            }
          }

          .price {
            font-family: 'GeologicaSemibold';
            color: colors.$blue;
            @include utils.vw-convert-desktop(font-size, 24px);
            @include utils.vw-convert-desktop(margin-top, 10px);

            @include utils.mobile {
              @include utils.vw-convert-mobile(margin-top, 10px);
              @include utils.vw-convert-mobile(font-size, 40px);
            }
          }

          .button {
            width: 80%;
            @include utils.vw-convert-desktop(margin-top, 10px);

            @include utils.mobile {
              @include utils.vw-convert-mobile(margin-top, 10px);
            }
          }
        }
      }
    }

    .swiper-wrapper {
      @include utils.vw-convert-desktop(padding, 80px 0 50px 0);

      @include utils.mobile {
        @include utils.vw-convert-mobile(padding, 150px 0 100px 0);
      }
    }

    .swiper-pagination {
      .swiper-pagination-bullet {
        @include utils.vw-convert-desktop(width, 10px);
        @include utils.vw-convert-desktop(height, 10px);
        background: #fff;
        opacity: 0.5;
        border-radius: 50%;
        transition: all 0.3s ease;
        margin: 0 6px !important;

        @include utils.mobile {
          @include utils.vw-convert-mobile(width, 10px);
          @include utils.vw-convert-mobile(height, 10px);
        }
      }

      .swiper-pagination-bullet-active {
        @include utils.vw-convert-desktop(width, 30px);
        @include utils.vw-convert-desktop(height, 10px);
        background: #ffcc00;
        opacity: 1;
        border-radius: 999px;

        @include utils.mobile {
          @include utils.vw-convert-mobile(width, 30px);
          @include utils.vw-convert-mobile(height, 10px);
        }
      }
    }
  }
}

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  @include utils.vw-convert-desktop(gap, 10px);
  @include utils.vw-convert-desktop(font-size, 25px);
  color: colors.$white;
  z-index: 2;

  @include utils.mobile {
    @include utils.vw-convert-mobile(gap, 10px);
    @include utils.vw-convert-mobile(font-size, 25px);
  }

  .line {
    @include utils.vw-convert-desktop(height, 2px);
    @include utils.vw-convert-desktop(width, 35px);
    background-color: orange;

    @include utils.mobile {
      @include utils.vw-convert-mobile(height, 2px);
      @include utils.vw-convert-mobile(width, 35px);
    }
  }
}

.main-menu {
  list-style: none;
  display: flex;
  z-index: 2;
  @include utils.vw-convert-desktop(gap, 30px);
  @include utils.vw-convert-desktop(font-size, 25px);
  @include utils.vw-convert-desktop(margin, 30px 0);

  @include utils.mobile {
    @include utils.vw-convert-mobile(gap, 30px);
    @include utils.vw-convert-mobile(font-size, 25px);
    @include utils.vw-convert-mobile(margin, 50px 0);
    @include utils.vw-convert-mobile(padding, 0 30px);
    width: 90%;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
    overflow-x: auto;
  }

  li {
    color: colors.$white;
    border: transparent solid colors.$orange;
    cursor: pointer;
    text-transform: uppercase;
    @include utils.vw-convert-desktop(padding, 10px 20px);
    @include utils.vw-convert-desktop(border-radius, 20px);

    @include utils.mobile {
      @include utils.vw-convert-mobile(padding, 10px 20px);
      @include utils.vw-convert-mobile(border-radius, 20px);
      white-space: nowrap;
    }

    &[data-type='true'] {
      color: colors.$orange;
      border: 1px solid colors.$orange;
      @include utils.vw-convert-desktop(padding, 10px 20px);

      @include utils.mobile {
        @include utils.vw-convert-mobile(padding, 10px 20px);
      }
    }
  }
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

  @include utils.mobile {
    background-color: colors.$bg-blue;
  }

  .swiperRef {
    height: 100%;

    @include utils.mobile {
      height: auto;
      @include utils.vw-convert-mobile(padding, 100px 0);
    }
  }

  .food-grid {
    display: none;
    @include utils.mobile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 85%;
      height: 90%;
      @include utils.vw-convert-mobile(gap, 30px);

      .item {
        overflow: hidden;
        @include utils.vw-convert-mobile(border-radius, 30px);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &.item1 {
          grid-column: span 2;
        }
        &.tall {
          grid-row: span 2;
        }
      }
    }
  }

  .swiper {
    // @include utils.vw-convert-desktop(padding-left, 200px);
    height: 100%;
    padding-left: 10%;
    padding-right: 5%;

    .swiper-slide {
      width: 23%;
      align-items: center;
      display: flex;

      @include utils.mobile {
        width: 80%;
      }

      &.slide-up {
        transform: translateY(-5%);

        @include utils.mobile {
          transform: translateY(0);
        }
      }

      &.slide-down {
        transform: translateY(5%);
        @include utils.mobile {
          transform: translateY(0);
        }
      }

      .img-wrapper {
        width: 100%;
        position: relative;
        overflow: hidden;
        @include utils.vw-convert-desktop(border-radius, 8px);

        @include utils.mobile {
          @include utils.vw-convert-mobile(border-radius, 25px);
        }

        &:hover {
          .shadow {
            display: block;
          }

          .overlay {
            display: flex;
          }
        }

        img {
          width: 100%;
          @include utils.vw-convert-desktop(height, 500px);
          object-fit: cover;

          @include utils.mobile {
            // @include utils.vw-convert-mobile(height, 800px);
            aspect-ratio: 1/1.5;
          }
        }

        .shadow {
          background-color: colors.$dark-blue;
          opacity: 0.9;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          display: none;

          @include utils.mobile {
            display: block;
          }
        }

        .overlay {
          position: absolute;
          left: 0;
          top: 0;
          display: none;
          width: 100%;
          height: 100%;

          justify-content: center;
          align-items: center;
          z-index: 2;

          @include utils.mobile {
            display: flex;
          }

          &-border {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: colors.$orange;
            width: calc(100% - 50px);
            height: calc(100% - 20px);
            border: 2px solid colors.$orange;
            @include utils.vw-convert-desktop(padding, 0 12px);
            @include utils.vw-convert-desktop(border-radius, 5px);

            @include utils.mobile {
              @include utils.vw-convert-mobile(padding, 0 30px);
              @include utils.vw-convert-mobile(border-radius, 20px);
            }

            &-title {
              font-weight: 700;
              @include utils.vw-convert-desktop(margin-top, 12px);
            }

            span {
              text-transform: uppercase;
              text-align: center;
              @include utils.vw-convert-desktop(font-size, 12px);

              a {
                text-decoration: none;
                color: colors.$orange;
              }
            }
          }
        }
      }
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-item {
    flex-grow: 1;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    position: relative;
    flex-direction: column;

    .airplane {
      width: 50%;
      height: auto;

      @include utils.mobile {
        width: 80%;
      }
    }

    .background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .description {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-43%, -90%);

      @include utils.mobile {
        width: 70%;
        transform: translate(-30%, -110%);
      }

      .sub-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include utils.vw-convert-desktop(gap, 10px);
        @include utils.vw-convert-desktop(font-size, 20px);
        color: colors.$white;

        @include utils.mobile {
          @include utils.vw-convert-mobile(gap, 10px);
          @include utils.vw-convert-mobile(font-size, 20px);
          @include utils.vw-convert-mobile(margin-bottom, 5px);
        }

        .line {
          @include utils.vw-convert-desktop(height, 2px);
          @include utils.vw-convert-desktop(width, 30px);
          background-color: orange;

          @include utils.mobile {
            @include utils.vw-convert-mobile(height, 2px);
            @include utils.vw-convert-mobile(width, 30px);
          }
        }

        .icon {
          @include utils.vw-convert-desktop(width, 50px);
          height: auto;

          @include utils.mobile {
            @include utils.vw-convert-mobile(width, 50px);
          }
        }
      }

      .button-container {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: flex-end;

        @include utils.mobile {
          justify-content: flex-start;
        }

        .title {
          text-transform: uppercase;
          font-weight: 500;
          color: colors.$white;
          font-family: 'RubikMedium';
          @include utils.vw-convert-desktop(font-size, 100px);

          @include utils.mobile {
            @include utils.vw-convert-mobile(font-size, 40px);
          }
        }

        .button {
          @include utils.vw-convert-desktop(margin-bottom, 30px);

          @include utils.mobile {
            margin-bottom: 0;
          }
        }
      }
    }

    &-info {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      z-index: 2;
      width: 70%;

      &:last-child {
        justify-self: end;
      }

      @include utils.mobile {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include utils.vw-convert-mobile(margin-bottom, 50px);
      }

      .logo {
        width: 100%;
        height: auto;

        @include utils.mobile {
          width: 70%;
        }
      }

      ul {
        color: colors.$white;
        list-style: none;

        @include utils.mobile {
          margin: 0;
          padding: 0;
        }

        li {
          @include utils.vw-convert-desktop(margin-bottom, 10px);
          position: relative;

          @include utils.mobile {
            @include utils.vw-convert-mobile(margin-bottom, 20px);
            text-align: center;

            svg {
              display: none;
            }

            p {
              width: 100%;
            }

            &.title {
              @include utils.vw-convert-mobile(margin-top, 30px);
            }
          }

          &:first-child {
            font-weight: 600;
            @include utils.vw-convert-desktop(font-size, 25px);
            @include utils.vw-convert-desktop(margin-bottom, 20px);

            @include utils.mobile {
              @include utils.vw-convert-mobile(font-size, 30px);
              @include utils.vw-convert-mobile(margin-bottom, 20px);
            }
          }

          &:not(:first-child) {
            @include utils.vw-convert-desktop(font-size, 15px);

            @include utils.mobile {
              @include utils.vw-convert-mobile(font-size, 20px);
            }
          }

          span {
            color: colors.$orange;
          }
        }

        &.schedule {
          li {
            padding: 0;
            @include utils.vw-convert-desktop(padding-left, 20px);

            @include utils.mobile {
              padding: 0;
              text-align: center;
            }

            a {
              text-decoration: none;
              color: colors.$white;
            }

            &:not(:first-child) {
              &::before {
                content: '•';
                position: absolute;
                top: 0;
                left: 0;
                @include utils.vw-convert-desktop(font-size, 20px);
                line-height: 1;

                @include utils.mobile {
                  // @include utils.vw-convert-mobile(font-size, 30px);
                  content: none;
                }
              }
            }
          }
        }

        &.contact-info {
          li {
            display: flex;
            @include utils.vw-convert-desktop(gap, 10px);
            align-items: center;

            @include utils.mobile {
              @include utils.vw-convert-mobile(gap, 10px);
            }

            svg {
              @include utils.vw-convert-desktop(width, 35px);
              @include utils.vw-convert-desktop(height, 35px);

              @include utils.mobile {
                @include utils.vw-convert-mobile(width, 35px);
                @include utils.vw-convert-mobile(height, 35px);
              }
            }
          }
        }
      }

      img.set {
        width: 70%;

        @include utils.mobile {
          width: 70%;
          @include utils.vw-convert-mobile(padding-left, 40px);
        }
      }
    }

    .copyright {
      z-index: 2;
      color: colors.$grey;
      font-weight: 600;
      width: 80%;
      border-top: solid colors.$white;
      @include utils.vw-convert-desktop(border-width, 1px);
      @include utils.vw-convert-desktop(margin-top, 35px);
      @include utils.vw-convert-desktop(padding-top, 35px);
      @include utils.vw-convert-desktop(font-size, 15px);
      text-align: center;

      @include utils.mobile {
        display: none;
        @include utils.vw-convert-mobile(border-width, 1px);
        @include utils.vw-convert-mobile(margin-top, 35px);
        @include utils.vw-convert-mobile(padding-top, 35px);
        @include utils.vw-convert-mobile(font-size, 15px);
      }
    }
  }
}

.dimmed {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: colors.$dark-blue;
  opacity: 0.7;
  user-select: none;
  pointer-events: none;
  z-index: 1;
}

.menu-swiper-empty {
  @include utils.vw-convert-desktop(height, 357px);
}

@keyframes cloudMove {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}
